:root {
  --c-divider: var(--c-divider-light);
  --c-text: var(--c-text-light-1);
  --c-text-light: var(--c-text-light-2);
  --c-text-lighter: var(--c-text-light-3);
  --c-bg: var(--c-white);
  --c-bg-accent: var(--c-white-dark);
  --code-line-height: 24px;
  --code-font-size: 14px;
  --code-inline-bg-color: rgba(27, 31, 35, 0.05);
  --code-bg-color: #282c34;
  --c-white: #fff;
  --c-white-dark: #f8f8f8;
  --c-black: #000;
  --c-divider-light: rgba(60, 60, 67, 0.12);
  --c-divider-dark: rgba(84, 84, 88, 0.48);
  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;
  --c-text-light-3: #90a4b7;
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;
  --font-family-base: 'Roboto Slab', serif;
  --z-index-navbar: 10;
  --z-index-sidebar: 6;
  --header-height: 3.6rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

html {
  display: block;
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  display: block;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--c-text);
  background-color: var(--c-bg);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-top: 1.5rem;
  font-size: 2.2rem;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 600;
}

h2 {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--c-divider);
  padding-bottom: .3rem;
  line-height: 1.25;
  font-size: 1.65rem;
}

div {
  display: block;
}

img {
  max-width: 100%;
}

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-navbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--c-divider);
  padding: 0.7rem 1.5rem 0.7rem 4rem;
  height: var(--header-height);
  background-color: var(--c-bg);
}

.nav-bar-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--c-text);
}

.logo {
  margin-right: 0.75rem;
  height: 1.3rem;
  vertical-align: bottom;
}

.nav-bar .logo {
  height: 50px;
  margin-right: 2px;
}

@media screen and (max-width: 719px) {
  .sidebar-button {
    display: block;
  }
}

.sidebar-button {
  position: absolute;
  top: 0.6rem;
  left: 1rem;
  padding: 0.6rem;
  cursor: pointer;
}

.sidebar-button .icon {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
}

a,
.nuxt-link-active,
.nuxt-link-exact-active,
.nuxt-link-prefetched {
  text-decoration: none;
  display: inline;
  padding: 0 1.5rem;
  line-height: 36px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-text);
  white-space: nowrap;
}
a:hover,
.nuxt-link-active:hover,
.nuxt-link-exact-active:hover
.nuxt-link-active:visited {
  display: inline;
  text-decoration: none;
  color: var(--c-brand);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
